# Ignore virtual environments
.venv/
.venv311/
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore output files
outputs/

# Ignore logs
*.log

# Ignore large example videos
Example video/
Example video/*.zip

# Ignore secret files
.streamlit/secrets.toml

# Ignore general JSON secrets
*secret*.json
*.json
