# Ignore virtual environments
.venv/
.venv311/
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore output files
outputs/

# Ignore logs
*.log

# Ignore models (will be downloaded automatically)
models/
*.zip

#Ignore scret files
.streamlit/secrets.toml
*.json


# Streamlit
.streamlit/secrets.toml
